<h1>Register</h1>
<form action="/api/clients" method="post">
    <input type="text" name="title" placeholder="Enter your applications Title"><br><br>
    <input type="text" name="domains" placeholder="Enter your domain"><br><br>
    <button type="submit">Submit</button>
</form>
