<div class="register">
    <h1>Register</h1>
    <form method="post" action="/api/users">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" value="Submit">Submit</button>
    </form>
</div>
